<div class="add-wallet-label">
  <span class="">Add wallet</span>
</div>
  <div class="add-wallet-controls">
    <div class="input-wrapper">
        {{#x-select value=model.wallet action="selectWallet" required=true classNames="form-control"}}
            {{#each wallets as |wallet|}}
                {{#x-option value=wallet}}{{wallet.name}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
    {{#input-wrapper model=model valuePath="amount"}}
        {{input class="form-control" placeholder="Wallet Amount" value=model.amount}}
    {{/input-wrapper}}
    <div class="input-wrapper">
        <button class="form-control wallet-btn" id="wallet-quick-add" {{action 'save'}}>Add wallet</button>
    </div>
    <div class="input-wrapper">
        <button class="form-control btn btn--cancel" id="wallet-cancel-add" {{action 'close'}}>Cancel</button>
    </div>
</div>
