<div class="btn-group">
    <button class="btn btn-primary" {{action tableActions.edit row.content}}>Edit</button>
    <button class="btn btn-danger" {{action tableActions.delete row.content}}>Delete</button>
</div>

