<div class="col-xs-12 col-lg-7">
    <div class="panel panel-default panel-custom panel-charts">
        <div class="panel-heading">
            <div class="row--flex row--centered">
                <h3 class="panel-title">Statistics</h3>
                {{date-filter filterActionName="filterTransactions" filterTransactions="filterTransactions" }}
            </div>
        </div>
        <div class="panel-body row">
            <div class="col-md-6 chart-wrap">
                {{ember-chart type="radar" class="chart" data=charts.outcomeData options=charts.options width=300 height=295}}
            </div>
            <div class="col-md-6 chart-wrap">
                {{ember-chart type="radar" class="chart" data=charts.incomeData options=charts.options width=300 height=295}}
            </div>
        </div>
    </div>
</div>
