<div class="col-md-5">
    {{high-charts
        chartOptions=charts.outcome.chartOptions
        content=charts.outcome.chartData
        theme=charts.outcome.chartTheme}}
</div>
<div class="col-md-5">
    {{high-charts
        chartOptions=charts.income.chartOptions
        content=charts.income.chartData
        theme=charts.income.chartTheme}}
</div>
