@import "variables";
@import "navbar";
@import "sidebar";
@import "wrapper";
@import "panel-custom";
@import "transactions";
@import "light-table";
@import "spinner";
@import "list";


html,
body {
  height: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    &>.ember-view {
      height: 100%;
    }
}
.modal {
    display: block;
}

div.input-error>div.error {
    color: #a94442;
}

.main {
  height: 100%;
}

.chart {
  -webkit-user-select: none;
  margin: 0 auto;
}

.icon {
  &--circle {
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
}
.user-actions a {
    color: #dd6a58;
    padding-right: 10px;
    font-size: 18px;
    width: 30px;
    text-decoration: none;
    /*cursor: pointer;*/
    padding-top: 10px
}

.user-actions a:active, .user-actions a:focus, .user-actions a:hover {
    color: #d95743
}
.tip {
  font-size: 13px;
  color: #4E4E4E;
  .icon-info {
      color: #dd6a58;
      margin-right: 3px;
  }
}
.table-container {
    overflow-y: auto;
}
.table-container.fixed-header {
    overflow-y: hidden;
    margin-bottom: 15px;
}
.container-fluid > .navbar-header {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.m-hidden {
  @media (max-width: 768px) {
    display: none;
  }
}

.col-xlg-6 {
  @media (min-width:1440px) {
    width: 50%;
  }
}

.lt-row {
  &:hover {
    cursor: pointer;
    .btn--hidden {
      visibility: visible;
    }
  }
}
.btn {
  &--hidden {
    visibility: hidden;
  }
  &-icon {
    margin-right: 10px;
  }
  &--edit {
    background-color: rgba(99, 168, 168, 0.07);
    border: solid 1px #63a8a8;
    color: #63a8a8;
    &:hover,
    &:focus,
    &:active.focus,
    &.active:focus,
    &.active.focus {
      background-color: #63a8a8;
      color: #fff;
      outline: none;
    }
  }
  &--delete {
    background-color: rgba(241, 110, 110, 0.06);
    border: solid 1px #f16e6e;
    color: #f16e6e;
    &:hover,
    &:focus,
    &:active.focus,
    &.active:focus,
    &.active.focus {
        background-color: #f16e6e;
        color: #fff;
        outline: none;
    }
  }
}
