.modal {
    display: block;
}

div.input-error>div.error {
    color: #a94442;
}

#wrapper {
    margin-top: 50px;
}

#page-content-wrapper {
    background-color: #e8e9eb;
}

#hamburger {
    display: block;
    margin-left: 170px;
    cursor: pointer;
    border: none;
}

#hamburger:hover, #hamburger:focus, #hamburger:active {
    background-color: #ffffff;
}

#hamburger > .icon-bar {
    background-color: #2e7680;
}

.icon-bar {
    background-color: #2e7680;
}

#transaction-quick-add {
    position: absolute;
    top: 15px;
    right: 20px;
    text-decoration: none;
    color: #2e7680;
    cursor: pointer;
}

.navbar-default {
    background-color: #ffffff;
    box-shadow: 250px 4px 5px 0 #dfdfdf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default.navbar-closed {
    box-shadow: 0 4px 5px 0 #dfdfdf;
}

.navbar-brand {
    color: #2e7680 !important;
    text-transform: uppercase;
}

.panel-heading h1.panel-title, h2.panel-title, h3.panel-title {
    color: #757474;
    text-transform: uppercase;
}

.panel-heading {
    background-color: #f2f4f5 !important;
    border-color: #f2f4f5 !important;
}

.panel-default {
    border-radius: 0 0 0 0 !important;
}

.balance {
    color: #63a8a8;
}