@import "variables";
@import "navbar";
@import "sidebar";
@import "wrapper";
@import "panel-custom";
@import "transactions";
@import "wallets";
@import "components/switch";
@import "add-transaction";
@import "add-wallet";
@import "light-table";
@import "spinner";
@import "list";
@import "components/modal-window";
@import "components/add-btns";
@import "components/charts";
@import "components/custom-select";
@import "components/form-elements";
@import "components/alert";

body,
html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;

  & > .ember-view {
    height: 100%;
  }
}

* {
  outline: none;
}

.no-wrap {
  white-space: nowrap;
}

.modal {
  display: block;
}

div.input-error > div.error {
  color: #a94442;
}

.main {
  height: 100%;
}

.icon {
  &--circle {
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
}

.user-actions a {
  color: #dd6a58;
  padding-right: 10px;
  font-size: 18px;
  width: 30px;
  text-decoration: none;
  padding-top: 10px;
}

.user-actions a:active,
.user-actions a:focus,
.user-actions a:hover {
  color: #d95743;
}

.tip {
  font-size: 13px;
  color: #4E4E4E;

  .icon-info {
    color: #dd6a58;
    margin-right: 3px;
  }
}

.table-container {
  overflow-y: auto;
}

.table-container.fixed-header {
  overflow-y: hidden;
  margin-bottom: 15px;
}

.container-fluid > .navbar-header {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.row {
  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.row--centered {
      align-items: center;
    }
    .wallets & {
      flex-wrap: nowrap;
      flex-direction: column;
      @media (min-width:1240px) {
        flex-direction: row;
      }
    }
  }
}

.m-hidden {
  @media (max-width: 768px) {
    display: none;
  }
}

.col-xlg-6 {
  @media (min-width:1440px) {
    width: 50%;
  }
}

.arrow {
  font-size: 25px;
  vertical-align: middle;

  &--outer {
    color: $error-color;
  }

  &--inner {
    color: $success-color;
  }

  .list & {
    margin-right: 10px;
    @media(min-width:768px) and (max-width:960px) {
      display: none;
    }
  }
}

.balance {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: $balance-color;
  text-transform: uppercase;
  line-height: 1;
}

.balance-title {
  margin-bottom: 5px;
  margin-top: 7px;
  font-size: 18px;
  color: $balance-color;
}

.balance-amount {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
