.spinner, .tip {
    text-align: center
}

.spinner {
    margin: 15px auto;
    width: 50px;
    height: 50px;
    font-size: 10px
}

.spinner > div {
    background-color: #dd6a58;
    height: 100%;
    width: 4px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.spinner .rect2 {
    animation-delay: -1.1s
}

.spinner .rect3 {
    animation-delay: -1s
}

.spinner .rect4 {
    animation-delay: -.9s
}

.spinner .rect5 {
    animation-delay: -.8s
}

@keyframes sk-stretchdelay {
    0%, 100%, 40% {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

.ember-light-table {
    margin: 0 auto;
    border-collapse: collapse
}

.ember-light-table tfoot .lt-column {
    border-top: 1px solid #DADADA
}

.ember-light-table thead .lt-column {
    border-bottom: 1px solid #DADADA
}

.ember-light-table .lt-column {
    font-weight: 200;
    font-size: 12px;
    padding: 10px
}

.ember-light-table .lt-column .lt-sort-icon {
    width: 15px
}

.ember-light-table .lt-column.lt-group-column {
    border: none !important;
    padding-bottom: 10px
}

.ember-light-table .lt-row {
    height: 50px
}

.ember-light-table .lt-row.is-selected {
    background-color: #DEDEDE !important
}

.ember-light-table .lt-row:not(.is-selected):hover {
    background-color: #F5F4F4 !important
}

.ember-light-table .lt-row:last-of-type td {
    border-bottom-width: 0
}

.ember-light-table .lt-row.lt-expanded-row:hover, .ember-light-table .lt-row.lt-no-data:hover {
    background-color: transparent !important
}

.ember-light-table .lt-row.lt-expanded-row td, .ember-light-table .lt-row.lt-no-data td {
    padding: 15px
}

.ember-light-table .lt-row td {
    border-color: #DADADA;
    border-width: 0 0 1px;
    border-style: solid;
    font-size: 13px;
    padding: 0 10px
}

.table-container {
    overflow-y: auto
}

.table-container.fixed-header {
    overflow-y: hidden;
    margin-bottom: 15px
}

.user-actions a {
    color: #dd6a58;
    padding-right: 10px;
    font-size: 18px;
    width: 30px;
    text-decoration: none;
    /*cursor: pointer;*/
    padding-top: 10px
}

.user-actions a:active, .user-actions a:focus, .user-actions a:hover {
    color: #d95743
}

.tip {
    font-size: 13px;
    color: #4E4E4E
}

.tip .icon-info {
    color: #dd6a58;
    margin-right: 3px
}