.navbar {
  min-height: 80px;
  @media(min-width:767px) {
    padding-left: $sidebar-width;
  }
  .nav {
    margin: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    &-icon {
      @media(min-width:767px) {
        margin-right: 15px;
      }
    }
  }
  &-default {
      background-color: $header-bg;
      box-shadow: 0 4px 5px 0 rgba(174, 198, 255, 0.19);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &.navbar-closed {
        box-shadow: 0 1px 2px 0 #dfdfdf;
      }
  }
  &.navbar-fixed-top {
    border-width: 0;
  }
  &-header {
    display: flex;
    height: 80px;
    width: 100%;
  }
  &-brand {
    height: 100%;
    line-height: 80px;
    padding: 0 15px;
    color: $logo-color !important;
    text-transform: uppercase;
    float: none;
    margin: 0 auto;
  }
  .burger-btn {
    display: block;
    margin: 0;
    padding: 28px 25px;
    cursor: pointer;
    border: none;
    float: none;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
    .icon-bar {
      width: 30px;
      height: 5px;
      background-color: $burger-color;
      border-radius: 2px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .transaction-btn {
    height: auto;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-decoration: none;
    color: $add-transaction-color;
    cursor: pointer;
    @media (min-width: 768px) {
      right: 15px;
    }
  }
}
