.panel-custom {
  border-radius: 3px;
  color: #7b7777;
  box-shadow: 0 4px 5px 0 rgba(174, 198, 255, 0.19);
}

.panel-title {
  .panel-custom & {
    color: $panel-title;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    flex: 1 1 auto;
  }
  .panel-charts & {
    padding: 6px 0;
  }
}

.panel-heading {
  .panel-custom & {
    background-color: $panel-header-bg;
    border-bottom: solid 1px #e2e2e2;
    padding: 15px;
    @media(min-width:768px) {
      padding: 15px 30px;
    }
  }
  .wallets-wrapper & {
      display: flex;
      align-items: center;
  }
}

.panel-body {
  .panel-custom & {
    font-size: 16px;
    padding: 15px;
    @media(min-width:768px) {
      padding: 15px 30px;
    }
  }
  .panel-charts & {
    padding: 0 30px;
  }
}
