.list.list-flex {
  margin-top: 0;
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-top: none;
  }
  &.list-transactions {
    .list-cell--description {
      background-color: $table-row--transaction;
      @media(max-width:767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &.list-wallets {
    .list-cell--description {
      background-color: $table-row--wallets;
    }
  }
  .list-cell {
    &.color-indicator {
      width: 25px;
      height: 25px;
      margin-right: 12px;
      border-radius: 2px;
      border: 1px solid black;
    }
    &.list-icon {
      width: 26px;
      height: 26px;
      margin-right: 12px;
      border: 1px solid black;
    }
    .arrow {
      margin-right: 10px;
      &--right {
        color: $error-color;
      }
      &--left {
        color: $success-color;
      }
    }
    &--negative {
      color: $success-color;
    }
    &--positive {
      color: $error-color;
    }
    &--description {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
    }
  }
}
