.transaction-btn {
  text-decoration: none;
  color: $add-transaction-color;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

.transactions {
  &-date {
    color: $add-transaction-color;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media(min-width:1366px) {
        flex-direction: row;
        align-items: center;
      }
  }

  &-type {
    flex: 1 1 auto;
    text-align: center;
  }

  &-filter {
    flex-direction: column;
    align-items: flex-end;
    @media(min-width:1024px) {
      flex-direction: row;
    }
    @media(min-width:1366px) {
      align-items: center;
    }
    .transactions-wrapper & {
      align-items: center;
      @media(min-width:1024px) {
        align-items: flex-end;
      }
      @media(min-width:1366px) {
        align-items: center;
      }
    }
    &--item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .btn-group {
        padding: 0;
      }
      .select-date {
        min-width: 165px;
        @media(min-width:480px) {
          text-align: right;
        }
        @media(min-width:1366px) {
          margin-right: 30px;
        }
        .transactions-wrapper & {
          text-align: center;
          @media(min-width:1024px) {
            text-align: right;
          }
        }
      }
      @media(min-width:1024px) {
        margin-bottom: 0;
      }
    }
  }

  &-all {
    .list.list-flex.list-transactions.list-transactions {
      .list-item {
        &:hover {
          cursor: pointer;

          .list-cell--description {
            background-color: #f9f9f9;
          }

          .btn--hidden {
            visibility: visible;
          }
        }

        .list-cell--description {
          .list-cell {
            flex: 0 0 20%;
            &:last-child {
              min-width: 54px;
              @media (min-width: 480px) and (max-width:767px) {
                position: absolute;
                right: 15px;
              }
              @media (max-width: 480px) {
                padding-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.change-period:hover {
  cursor: pointer;
}
