.wrapper {
  height: 100%;
}

.content-wrapper {
  width: 100%;
  min-height: 100%;
  padding: 20px 0 0;
  background-color: $main-bg;
  @media(min-width:768px) {
    padding: 20px 10px 0;
  }
}

.container-fluid {
  .navbar & {
    position: relative;
    background: #fff;
    z-index: 4;
  }
}

.content {
  min-height: 100%;
  background: #e8edf9;
  overflow-x: hidden;
}

.content-wrap {
  position: relative;
  padding-top: 80px;
  transition: all 0.3s linear 0s;

  .toggled & {
    @media(max-width:767px) {
    transform: translate3d(0, 0, 0);
    }
  }
  @media(max-width:767px) {
    transform: translate3d($sidebar-width, 0, 0);
  }
  @media(min-width:768px) {
    padding-left: $sidebar-width;
  }
}
