<form>
  {{#input-wrapper valuePath="name" model=model}}
    <label>Name</label>
    {{input
      type="text"
      value=model.name
      classNames="form-control
      category-name"
      placeholder="Category name"}}
  {{/input-wrapper}}
</form>
