<form>
  {{#input-wrapper for="name" model=model}}
    {{input
      type="text"
      value=model.name
      classNames="form-control currency-name"
      placeholder="Currency name"}}
  {{/input-wrapper}}
  {{#input-wrapper for="sign" model=model}}
    {{input
      type="text"
      value=model.sign
      classNames="form-control currency-icon"
      placeholder="Icon"}}
  {{/input-wrapper}}
</form>
