<form>
  {{#input-wrapper valuePath="name" model=model}}
    <label>Name</label>
    {{input
      type="text"
      value=model.name
      classNames="form-control currency-name"
      placeholder="Currency name"}}
  {{/input-wrapper}}
  {{#input-wrapper valuePath="sign" model=model}}
    <label>Sign</label>
    {{input
      type="text"
      value=model.sign
      classNames="form-control currency-sign"
      placeholder="Icon"}}
  {{/input-wrapper}}
</form>
