<form>
  {{#input-wrapper valuePath="name" model=model}}
    <label>Name</label>
    {{input
      type="text"
      value=model.name
      classNames="form-control
      wallet-name"
      placeholder="Wallet name"}}
  {{/input-wrapper}}
</form>
