.add-btns {
  height: auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  line-height: 24px;
  @media (min-width: 768px) {
    right: 15px;
  }

  .transaction-btn,
  .wallet-btn {
    text-decoration: none;
    color: $add-transaction-color;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
  }

  .wallet-btn {
    color: $add-wallet-color;
    margin-left: 10px;
    @media (min-width: 768px) {
      margin-left: 64px;
    }
  }
}
