.chart-wrap {
  padding: 15px;
  &:first-child {
    border-bottom: solid 1px #e2e2e2;
    @media(min-width:992px) {
      border-right: solid 1px #e2e2e2;
      border-bottom: 0;
    }
  }
}

.chart {
  user-select: none;
  margin: 0 auto;
  @media (max-width: 480px) {
    width: 100% !important;
    height: auto !important;
  }
  @media (min-width: 1200px) and (max-width: 1460px) {
    width: 100% !important;
    height: auto !important;
  }
}
