.modal {
  background-color: rgba(78, 95, 138, 0.24);

  .btn {
    width: 145px;
    height: 44px;
    border-radius: 4px;
    color: #fff;
    box-shadow: none;
    border: none;
    &:hover,
    &:focus,
    &.active {
      color: #fff;
    }
    &--save {
      background-color: #f07f78;
      &:hover,
      &:focus,
      &.active {
          background-color: #f07f78;
      }
    }
    &--cancel {
      background-color: #b4b4b4;
      &:hover,
      &:focus,
      &.active {
        background-color: #b4b4b4;
      }
    }
    &:focus {
      outline: none;
    }
  }
}

.modal-dialog {
  .modal.in & {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: auto;
  }
}

.modal-body {
  font-size: 16px;
  p {
    margin: 0;
  }
}

.modal-content {
  padding: 30px;
}

.modal-header {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #2b2a2b;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-content,
.modal-footer {
  text-align: center;
}
