.switch {
  &-wrapper {
    width: 140px;
    height: 34px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #bd81c6;
    border-radius: 4px;
    color: #fff;
    position: relative;
  }
  position: absolute;
  display: flex;
  justify-content: space-between;
  // transform: translateX(-87px);
  // -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  left: -87px;
  transition: all .3s ease;
  white-space: nowrap;
  width: 239px;
  padding: 3px 0;
  span {
    display: block;
    height: 100%;
    line-height: 28px;
    &.switch-label {
      flex: 1 1 auto;
      padding: 0 15px;
      user-select: none;
      &--center {
        padding: 0 3px;
        flex: 0 0 53px;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.checkbox--hidden {
  display: none;
  &:checked + .switch {
      // transform: translateX(0);
      left: 0;
      background-color: $success-color;
      .arrow {
        color: $success-color;
      }
  }
}
