{{#modal-window model=model save="save" close="back" title="Edit transaction"}}
  <div class="row">
    <div class="col-md-12">
      <br>
      {{partial "forms/-transaction"}}
    </div>
  </div>
{{/modal-window}}
