<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "dashboard" classNames="navbar-brand"}}Booker{{/link-to}}
      <ul class="nav navbar-nav">
        <li id="hamburger" {{action 'toggleSidebar'}} class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </li>
        {{#link-to "transactions.new" tagName="li" id="transaction-quick-add"}}Add transaction{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
            <li>{{#link-to "transactions"}}Transactions{{/link-to}}</li>
            <li>{{#link-to "wallets"}}Wallets{{/link-to}}</li>
            <li>{{#link-to "categories"}}Categories{{/link-to}}</li>
            <li>{{#link-to "currencies"}}Currencies{{/link-to}}</li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>