<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default panel-custom panel-wallets">
            <div class="panel-heading">
                <h3 class="panel-title">Wallets</h3>
            </div>
            <div class="panel-body">
                <div class="balance">
                    <h2>Balance <span class="pull-right"> {{balance}} UAH</span></h2>
                </div>
                <ul class="list list-unstyled">
                    {{#each wallets as |wallet|}}
                        <li class="list-item">{{wallet.name}} <span class="pull-right"> {{wallet.balance}}</span></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-8">
        <div class="panel panel-default panel-custom panel-charts">
            <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body">
                Charts
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-custom panel-charts">
    <div class="panel-heading">
        <h3 class="panel-title">Recent transactions</h3>
    </div>
    <div class="panel-body">
        <ul class="transactions-list">
            {{#each (reverse transactions) as |transaction index|}}
                {{#if (lt index 5)}}
                    <li>{{transaction.amount}}</li>
                {{/if}}
            {{/each}}
        </ul>
        {{#link-to 'transactions'}}All transactions{{/link-to}}
    </div>
</div>
